//default blog styles

.blog--header {
    @include bp(medium-screens) {
        background-color:transparent;
        position: absolute;
    }
}

.blog--home {
    padding-top:3em;
    &.page {
        padding-top:3em;
        @include bp(medium-screens) {
            padding-top:6em;
        }
    }
}

.blog-meta {
    color: #eba424;
    font-size: .75em;
    font-weight: bold;
}

.blog-post {
    font-size: 1.25em;
    line-height: 1.25;
    padding-bottom: 2em;
    a {
        border-bottom:none;
    }
    .post-img {
        max-width:100%;
        margin:0 auto;
        width:100%;
        height: auto;
        display: block;
    }
}

.blog--recent-posts {
    padding-bottom: 2em;
    list-style-type: none;
    padding-left:0;
    li {
        border-bottom: solid 1px;
        padding-bottom: 1em;
        margin: 3em 0;
        &:last-child {
            border-bottom:none;
        }
    }
}

.blog-widget-title {
    text-align: center;
}

.blog-recent-widget {
    padding-bottom:3em;
    border-top: solid 2px black;
    width:100%;
    max-width: 30em;
    margin: 0 auto;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            margin-bottom: 1em;
        }
    }
}

.blog--recent-title {
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.5;
}

.blog--hero {
    position: relative;
    max-height: 25em;
    overflow: hidden;
    img {
        width:100%;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(240, 240, 240);
        opacity: .5;
    }
}

.blog--post-title {
    border:none;
}

.blog--img {
    width: 100%;
    height: auto;
    margin: 1em 0;
}

.blog--comments {
    margin-bottom: 5em;
    display:none;
    @include bp(medium-screens) {
        display:block;
    }
}

.blog--button_comments {
    @extend %button;
    display: block;
    margin: 0 auto;
    margin-bottom: 5em;
    //hover isn't defined in buttons due to node sass error
    &:hover {
        background-color:#eba424;
        border-color:transparent;
        color:white;
    }
    @include bp(medium-screens) {
        display:none;
    }
}