
.hero {
    margin-top:3em;
    .img-caption {
        font-size: .75em;
        font-style: italic;
        color: $img-caption;
        text-align:center;
        margin-top: 10px;
    }
}

.hero--image {
    max-width:100%;
}

.hero--copy {
    p {
        @include bp(medium-screens) {
            font-size: 1.2em;
        }
    }
}