//home page

svg {
    max-width: 110px;
    height:60px;
}

.logoAnimated {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke:white;
    fill: transparent;
    animation: draw-fill 10s forwards;
}

@keyframes draw-fill {
    15% {
        stroke-dasharray:1000;
        stroke-dashoffset:2000;
    }
    100% {
        stroke-dasharray:1000;
        stroke-dashoffset:2000;
        fill:white;
    }
}

.Homenav {
	height:100%;
	width:100%;
    background-image:url(../img/placeit.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    @include bp(medium-screens) {
        background-position: 3% 0;
    }
	ul {
		margin:0;
		padding:0;
		height:100%;
        @include bp(medium-screens) {
            width:50%;
        }
  	}
  	li {
		list-style-type:none;
		text-align:center;
	}
}

.home-link {
	height:20%;
	display:table;
	width:100%;
	transition: .5s linear;
    opacity: .85;
    @include bp(medium-screens) {
        opacity: .75;
    }
    &:hover {
    	opacity: .5;
    }
	a {
 	 	text-decoration:none;
	    padding:rem;
	    position:relative;
	    color:white;
	    text-transform:uppercase;
	    display:table-cell;
	    vertical-align:middle;
	    font-size:1.5em;
	    border-bottom:none;
        font-family: 'Telex', sans-serif;
	}
}

//individual nav links


.overview {
  background-color: $overview-menu-clr;
}

.recent-work {
  background-color: $recent-menu-clr;
}

.blog {
	background-color:$blog-menu-clr;
}

.contact {
	background-color:$contact-menu-clr;
}