//home page

.Homenav {
	height:100%;
	width:100%;
	ul {
		margin:0;
		padding:0;
		height:100%;
  	}
  	li {
		list-style-type:none;
		text-align:center;
	}
}

.home-link {
	height:20%;
	display:table;
	width:100%;
	transition: .5s linear;
    &:hover {
    	opacity: .9;
    }
	a {
 	 	text-decoration:none;
	    padding:rem;
	    position:relative;
	    color:white;
	    text-transform:uppercase;
	    display:table-cell;
	    vertical-align:middle;
	    font-size:1.5em;
	    border-bottom:none;
	}
}

//individual nav links


.overview {
  background-color: $overview-menu-clr;
}

.recent-work {
  background-color: $recent-menu-clr;
}

.blog {
	background-color:$blog-menu-clr;
}

.contact {
	background-color:$contact-menu-clr;
}