// navigation that isn't on home-page

.main-menu {
	position:fixed;
	z-index: 0;
	width: 200px;
	background-color: $footer-bg;
	border-right: solid 5px $main-menu-brdr-right;
	overflow-y:hidden;
	height:100%;
    backface-visibility:hidden;
}

.nav-links-container {
	padding-top: 1.45em;
	padding-left: 0;
	height: 100%;
	margin-bottom: 0;
	@include bp(medium-screens) {
		padding-top:5em;
		height: 100%;
	}
}

.nav-link {
	list-style: none;
	text-align: center;
	font-size: 1.25em;
	height: 20%;
	display: table;
	width: 100%;
	&:hover {
		opacity:.75;
	}
	a {
		text-decoration: none;
		color: white;
		display: table-cell;
		height: 100%;
		vertical-align: middle;
		border-bottom:none;
	}
}

.inner-home {
	background-color: $home-menu-clr;
}

.inner-overview {
	background-color: $overview-menu-clr;
}

.inner-recent {
	background-color: $recent-menu-clr;
}

.inner-blog {
	background-color:$blog-menu-clr;
}

.inner-contact {
	background-color:$contact-menu-clr;
}


.nav-button {
	position: fixed;
	cursor: pointer;
	color: $nav-button-clr;
	top: .15em;
	font-size: 2em;
	transition: .5s linear;
	z-index: 999;
	left: .1em;
	width: 32px;
	height: 41px;
	text-align: left;
    &:after {
        content: "Menu";
        font-size: .5rem;
        position: absolute;
        top: 3em;
        left: .8em;
        @include bp (medium-screens) {
            font-size: .8rem;
            top: 4em;
            left: 1.3em;
        }
    }
	@include bp(medium-screens) {
		font-size:4em;
		width:85px;
		height:68px;
		top:.3em;
	}
}

.nav-button_clicked {
	color: $nav-button_clicked;
}

//part of nav functionality

.content {
  transition: .5s ease;
  z-index: 1;
  width:100%;
}

.nav-action {
	transform: translate(200px, 0px) ;
	opacity: .5; //creates fade effect and focus on menu
	z-index:999;
}