

//special portfolio functionality


.portfolio-gallery {
    width:100%;
    margin-top: 1em;
}

.portfolio-item {
    transition: 1s ease;
    width: 50%;
    float: left;
    vertical-align: top;
    background-size: cover;
    height: 20em;
    position: relative;
    margin: 0;
    padding: 0;
    border-bottom:solid 1px $portfolio-item-brdr-right;
    &:hover {
       &:before {
            background-color:transparent;
        }
        cursor:pointer;
    }
    &:nth-of-type(even) {
        border-right:none;
    }
    &:before {
        transition: 1s ease;
        content:"";
        position:absolute;
        background-color:rgba(0, 0, 0, 0.53);
        height:320px;
        width:100%;
    }
    @include bp(medium-screens) {
        width:33.33333%;
    }
}

//this mixin is only relative to this module, which is why it is found here

//define each portfolio item img
@each $portfolio-img-class in streamsend, veeco, propane, deals, png, bermuda, lawn, practice, travimp {
    .portfolio-item {
        &.#{$portfolio-img-class} {
            background-image:url('../img/#{$portfolio-img-class}-thumb.jpg');
        }
    }
}