// in the contact page, there is a small module that handels the current projects I'm working on

.project-item {
    width: 50%;
    display: block;
    margin: 0 auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    text-align: center;
    color:$project-item-txt;
    position:relative;
    vertical-align: top;
    font-size: 1.25em;
    p {
        position:relative;
    }
    &:hover {
       &:before {
            background-color:transparent;
        }
        cursor:pointer;
    }
    &:before {
        transition: 1s ease;
        content:"";
        position:absolute;
        background-color:rgba(0, 0, 0, 0.53);
        height:250px;
        width:100%;
        left:0;
        top:0;
    }
}

//this mixin is only relative to this module, which is why it is found here

//define each project item img
@each $project-img-class in practice, resources,wpResponsive {
    .project-item {
        &.#{$project-img-class} {
            background-image:url('../img/#{$project-img-class}-thumb.jpg');
            background-size: cover;
        }
    }
}