/* line 3, ../../scss/partials/home.scss */
.Homenav {
  height: 100%;
  width: 100%;
}
/* line 6, ../../scss/partials/home.scss */
.Homenav ul {
  margin: 0;
  padding: 0;
  height: 100%;
}
/* line 11, ../../scss/partials/home.scss */
.Homenav li {
  list-style-type: none;
  text-align: center;
}

/* line 17, ../../scss/partials/home.scss */
.home-link {
  height: 20%;
  display: table;
  width: 100%;
  transition: .5s linear;
}
/* line 22, ../../scss/partials/home.scss */
.home-link:hover {
  opacity: .9;
}
/* line 25, ../../scss/partials/home.scss */
.home-link a {
  text-decoration: none;
  padding: rem;
  position: relative;
  color: white;
  text-transform: uppercase;
  display: table-cell;
  vertical-align: middle;
  font-size: 1.5em;
  border-bottom: none;
}

/* line 41, ../../scss/partials/home.scss */
.overview {
  background-color: #AAAAA2;
}

/* line 45, ../../scss/partials/home.scss */
.recent-work {
  background-color: #9E8C69;
}

/* line 49, ../../scss/partials/home.scss */
.blog {
  background-color: #745E5E;
}

/* line 53, ../../scss/partials/home.scss */
.contact {
  background-color: #395353;
}
