//colors

$footer-bg: #333;
$main-menu-brdr-right:rgb(129, 129, 129);
$overview-menu-clr: #AAAAA2;
$recent-menu-clr: #9E8C69;
$blog-menu-clr: #745E5E;
$contact-menu-clr: #395353;
$home-menu-clr: #533C3C;
$nav-button-clr: #696969;
$nav-button_clicked: white;
$portfolio-item-brdr-right: white;
$content-bg-clr: #F8F8F8;
$recent-work-bg-clr: #E0E0E0;
$recent-work-clr: #333;
$a-hvr-clr: black;
$h2-main-brdr-clr: #969696;
$main-link-color: rgb(0, 194, 255);
$recent-work-page-bg: white;
