//globals

.wrap {
    padding: 0 20px;
    margin:0 auto;
    @include bp(medium-screens) {
        max-width:920px;
        padding: 0 80px;
    }
}

.disable-hover {
    pointer-events: none;
}

.page {
    padding-top: 1em;
    @include bp(medium-screens) {
        padding-top: 4.5em;
    }
}

.content {
    background-color: $content-bg-clr;
    color:$footer-bg;
    backface-visibility: hidden;
    position:relative;
    min-height:100%;
}

.img-link {
    border-bottom:none;
}

//and then we'll get some global classes out of the way

*, *:before, *:after {
    box-sizing: border-box;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

body {
    overflow-x: hidden;
    &:before {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $footer-bg;
        z-index: 1;
    }
}

.isHome {
    &:before {
        z-index: -2;
    }
}

.off-cancas-body {
    &:before {
        z-index:0;
    }
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

//sub module body copy

.bodyCopy {
    padding:1px 0;
    margin-bottom:1em;
    @include bp(medium-screens) {
        margin: 0 auto;
        margin-bottom: 1em;
        p , ul {
            font-size:1.2em;
        }
        ul {
            line-height:1.5;
        }
    }
    p {
        margin-top:0;
        line-height: 1.5;
    }
}

a {
    text-decoration: none;
    border-bottom: dotted;
    color:$main-link-color;
    transition: .25s ease;
    &:hover {
        color:$a-hvr-clr;
    }
}

//fonts and icon font-sizes

h1 {
  font-size:1.5em;
  @include bp(medium-screens) {
    font-size:2.5em;
  }
}

h2 {
  font-size: 1.25em;
  @include bp(medium-screens) {
    font-size:2.05em;
  }
}

h1 , h2 {
    font-family: 'Telex', sans-serif;
}

@font-face {
  font-family: "portfolio-icons";
  src:url("../fonts/portfolio-icons.eot");
  src:url("../fonts/portfolio-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/portfolio-icons.ttf") format("truetype"),
    url("../fonts/portfolio-icons.svg#portfolio-icons") format("svg"),
    url("../fonts/portfolio-icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "portfolio-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "portfolio-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list-bullet:before {
   content: "a";
}
