//Pages



.h1--page_intro {
    text-align:center;
    border-top:solid 3px black;
    border-bottom: solid 3px black;
    padding: .5em 0;
    margin:0 auto;
    margin:1.5em 0;
    @include bp(medium-screens) {
        margin: .75em 0;
    }
}

h2 {
    @extend .h1--page_intro;
    border-color: $h2-main-brdr-clr;
}