<nav class="main-menu">
    <ul class="nav-links-container">
        <li class="nav-link inner-home"><a href="http://timevko.com/">Home</a>
        </li>
        <li class="nav-link inner-overview"><a href="http://timevko.com/overview">Overview</a>
        </li>
        <li class="nav-link inner-recent"><a href="http://timevko.com/recent-work">Recent Work</a>
        </li>
        <li class="nav-link inner-blog"><a href="#">Blog</a>
        </li>
        <li class="nav-link inner-contact"><a href="http://timevko.com/contact">Contact</a>
        </li>
    </ul>
</nav>
<div class="nav-button">
    <div class="icon-list-bullet">
    </div>
</div>
